body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #ffffff;
}

.food-container {
  font-family: "Khmer", serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
}

.food-item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: auto;
  padding: auto;
}

.food-item:hover {
  transform: translateY(-5px);
}

.food-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.food-item h3 {
  padding: 1rem;
  margin: 0;
  color: #ff6b6b;
  text-align: center;
}

.food-item p {
  padding: 0 1rem 1rem;
  margin: 0;
  color: #666;
}

@media (max-width: 768px) {
  .food-container {
    grid-template-columns: 1fr;
  }
}
button {
  font-family: "Khmer", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ff6b6b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  gap: 2rem;
  margin: 20px;
}
button:hover {
  background-color: #ff6b6b;
}

.link {
  color: white;
  text-decoration: none;
}
.price {
  text-align: center;
  color: red;
}
.ee {
  font-family: "Khmer", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #ff6b6b;
}
.text {
  font-family: "Khmer", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-decoration: none;
}
